

:root {
    --grey1: #fffbf2;
    --grey2: #313131;
    --grey3: #ece7dc;
    --grey4: #818181;
    --hoverBilePismo: white;
}



body {
    width: 100%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    
}

header {
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url(../images/pozadi1.jpg) ;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
}

.navigace {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
 .burgerMenu {
     cursor: pointer;
     padding: 0;
     margin: 0;
 }

 .personal {
     cursor: pointer;
     padding: 0;
     margin: 0;
 }
.nazev {
    color: white;
    /*text-shadow: 0 3px 8px #000;*/
    
}



.logo {
    padding: 3rem;
    padding-top: 1rem;    
}

.vyhledavac {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    
}

.vyhledavacPole {
    width: 80%;
    height: 25px;
    text-align: center;
    border: none;
    border-radius: 3px;
}
.tydenniNabidka {
     padding: 1rem;
     padding-top: 0.5rem;
     display: flex;
     flex-flow: column;
     align-items: center;
     background: var(--grey2);
     
     
 }

.tyden {
    width: 80%;
    margin-top: 0.5rem;
    background: var(--grey3);
    border: none;
    box-shadow: 0 0 5px black;
    border-radius: 3px;
    padding: 0.5rem;
    font-weight: 700;
    cursor: pointer;
    color: var(--grey2);
}
 .tyden:hover {
     background: var(--grey4);
     color: white;
 }

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 7pt;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)), url(../images/pozadi1.jpg) ;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

footer a {
    cursor: pointer;
    font-weight: 700;
    color: white;   
}

footer p {
    color: white;
}

.navigace480 {
    display: none;
}

.seznam {
    display: none;
}

.logo480 {
    display: none;
}

.tydenniNabidka480 {
    display: none;
}

.vyhledavac480 {
    display: none;
}

.asideRecepty {
    display: none;
}
/*.menuPoRozkliknuti {
    display: flex;
    width: 100px;
    height: 100px;
    background: black;
}*/

@media screen and (min-width: 600px) {
    .burgerMenu {
        display: none;
    }

    .navigace480 {
        display: flex;
        width: 100%;
        background: var(--grey1);
        justify-content: space-around;
        align-items: center;
        margin: 0 0 1rem 0;
        border-radius: 5px;
    }

    .seznam {
        color: var(--grey2);
        text-decoration: none;
        display: flex;
        padding: 0.5rem 0;
        font-weight: bold;
        text-shadow: 0 0 2px rgb(255, 255, 255);

    }

    .logo {
        display: none;
    }

    .logo480 {
        display: flex;
        margin-right: auto;
    }

    .druhaNav {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .vyhledavacPole {
        width: 100%; 
           
    }

    .vyhledavac {
        display: none;
    }

    .vyhledavac480 {
        padding-left: 1rem;
        display: flex;
        justify-content: flex-end;
    }

    .tydenniNabidka {
        display: none;
    }

    .druhaNav {
        display: flex;
        justify-content: flex-start;
    }

    .tydenniNabidka480 {
        width: 80%;
        padding: 0.3rem 0.3rem;
        padding-bottom: 0.8rem;
        display: flex;
        flex-flow: row nowrap;
        background: var(--grey1);
        border-radius: 5px;
        justify-content: space-around;
        align-items: center;
        margin-top: -0.5rem;
    }

    .tyden {
        width: 30%;
        padding: 0.5rem;
        background: var(--grey3);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-self: center;
        font-weight: bold;
    }
    

    .main480 {
        padding: 0.5rem 1rem;
        background: var(--grey1);
    }

    .asideRecepty {
        width: 180px;       
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;  
        background: var(--grey1);
        align-items: stretch;
        
    }

    .doSekci {       
        font-size: 10pt;
        font-weight: bold;
        text-decoration: none;
        padding: 0.2rem 0.5rem;
        background: var(--grey3);
        color: var(--grey2);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0.15rem;
        box-shadow: 0 0 2px var(--grey2);
        border-radius: 3px;
        

    }

    .doSekci:hover {
        background: var(--grey4);
        color: white;
    }

    

  


}

